<!--DOCTYPE html-->
<html>
<head>
  <meta charset="utf-8">

  <title>Comparer</title>
  <link href="Content/bootstrap.min.css" rel="stylesheet" />
  <link href="Content/bootstrap-responsive.min.css" rel="stylesheet" />
  <link href="Content/customerManagementStyles.css" rel="stylesheet" />
  <link href="Content/styles.css" rel="stylesheet" />
</head>

<body ng-app="itemsApp" ng-controller="mainController as app">
  <table height="100%" width="100%" border="1" >
   <tr height="10%" width="100%" >
    <td width="20%"></td>
    <td width="60%">
      <table height="100%" width="100%" border="1" >
      <tr height="100%" width="100%" >
        <td width="30%" align="center">
          <input type="date" padding=10px id="exampleInput" name="input" ng-model="dateValue" placeholder="dd.MM.yyyy"
                     min="01.01.2014" max="01.01.2021"/>
        </td>
        <td width="40%"><span>{{dateValue| date: "dd.MM.yyyy"}}</span></td>
        <td align="center" width="30%" >
          <span>LoGOUT</span>
        </td>
      </tr>
      </table>

      </td>
      <td width="20%"></td>
     </tr>
     <tr height="20%" width="100%">
      <td align="center"></td>
      <td align="center">
      <span>LOGO</span><br/>
        <input class="cmp-input"></input><button class="btn">Find</button></br>
        
        <div id="addItemDiv" ng-controller="addItemController">
            <input type="text" ng-model="itemName" class="cmp-input2"></input>
            <select ng-model="shop" ng-options="shop.name for shop in shops"></select>
            <input type="date" padding=10px id="addDate" name="input" ng-model="dateValue" placeholder="dd.MM.yyyy"
                     min="01.01.2014" max="01.01.2021" class="cmp-input2"/>
            <input type="number" min="0" max="99" required" ng-model="numberValue" class="cmp-input2"></input>
            <button class="btn" ng-click="addItem()">Add</button>
        </div>

        
        </td>
      <td align="center"></td>
     </tr>
     <tr height="70%" width="100%">
      <td align="center"></td>
      <td align="center">
        <div id="resultsDiv" ng-controller="resultController as res">
          <item-description ng-repeat="item in results" />
        </div>
      </td><td align="center"></td>
     </tr>
  </table>

<!--
          <ul class="example-animate-container">
            <li class="animate-repeat" ng-repeat="item in results">
              [{{item.id}}] {{item.name}} :: {{item.price}} || {{item.shopName}} {{item.date.toLocaleString()}}
            </li>
          </ul>

-->
    <!-- Vendor Libs: jQuery only used for Bootstrap functionality -->
    <script src="Scripts/angular.js"></script>
    <script src="Scripts/angular-route.js"></script>
    <script src="Scripts/jquery.min.js"></script>

    <!-- UI Libs -->
    <script src="Scripts/bootstrap.js"></script>

    <!-- App libs -->
    <script src="app/app.js"></script>
    <script src="app/controllers/controllers.js"></script>
    <script src="app/services/itemsService.js"></script>

</body>

</html>