<table class="table">
    <tr>
        <td class="pull-left">
            <label for="exampleInputEmail1">Название покупки:</label>
        </td>
        <td class="pull-left">
            <input type="text" class="form-control" id="exampleInputEmail1" ng-model="purchase.name" placeholder="Введите название покупки">
        </td>
        <td></td>
    </tr>
    <tr>
        <td class="pull-left">
            <label for="shopSelectId">Магазин:</label>
        </td>
        <td class="pull-left">
           <select ng-model="purchase.ShopId" ng-options="shop.id as shop.name for shop in listShops" id="shopSelectId" class="form-control">
           </select>
        </td>
        <td></td>
    </tr>
    <tr>
        <td class="pull-left">
            <label for="dateSelectId">Магазин:</label>
        </td>
        <td class="pull-left">
            <input type="date" ng-model="purchase.dateRecord" placeholder="Дата" id="dateSelectId" class="form-control">
        </td>
        <td></td>
    </tr>
    <tr>
        <td class="pull-left">
            <label for="tagsId">Тэги:</label>
        </td>
        <td class="pull-left">
            <input ng-model="purchase.tag" placeholder="Tag" id="tagsId" class="form-control">
        </td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td class="pull-left">
            <button class="btn btn-primary" ng-click="save()">Сохранить</button>
        </td>
        <td></td>
    </tr>
</table>

