
<div class="row">
    <div class="col-md-11"></div>
    <div class="col-md-1"><a href="#/newPurchase/"><i class="glyphicon glyphicon-plus"></i></a></div>
</div>
<div ng-repeat="p in purchasesList">
    <div class="row">
        <cmpr-purchase purchase="p" root="Services"></cmpr-purchase>
    </div>
</div>


<!--<div class="col-md-1"><h4>Дата</h4></div>
    <div class="col-md-4"><h4>Наименование</h4></div>
    <div class="col-md-5"><h4>Магазин</h4></div>-->
<!--
<a href="#/records/{{purchaseInfo.id}}"><i class="glyphicon glyphicon-list"></i></a>
<table class="table table-bordered">
    <thead>
    <tr>
        <td>ID</td>
        <td>Название покупки</td>
        <td>Магазин</td>
        <td>Дата покупки</td>
        <td>Таг</td>
        <td><a href="#/newPurchase/"><i class="icon-plus"></i></a></td>
    </tr>
    </thead>
    <tbody>

    <tr ng-repeat="purchase in purchasesList">

        <td>{{purchase.id}}</td>
        <td>{{purchase.name}}</td>
        <td>{{purchase.ShopId}}</td>
        <td>{{purchase.dateRecord}}</td>
        <td>{{purchase.tag}}</td>
        <td><a href="#/editPurchase/{{purchase.id}}"><i class="icon-edit"></i></a></td>
    </tr>
    </tbody>

</table>-->
